@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Mansalva&display=swap');

// fonts
@font-face {
    font-family: 'BlissExtBol';
    src: url('../fonts/Bliss-ExtraBold.bmap');
}

@font-face{
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttc');
}
@font-face{
    font-family: 'Sinhala MN';
    src: url('../fonts/Sinhala\ MN.ttc');
}

// tajawal
@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Medium.eot');
    src: url('../fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tajawal-Medium.woff2') format('woff2'),
        url('../fonts/Tajawal-Medium.woff') format('woff'),
        url('../fonts/Tajawal-Medium.ttf') format('truetype'),
        url('../fonts/Tajawal-Medium.svg#Tajawal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlissBold';
    src: url('../fonts/Bliss-Bold.eot');
    src: url('../fonts/Bliss-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bliss-Bold.woff2') format('woff2'),
        url('../fonts/Bliss-Bold.woff') format('woff'),
        url('../fonts/Bliss-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlissRegular';
    src: url('../fonts/BlissRegular.eot');
    src: url('../fonts/BlissRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlissRegular.woff2') format('woff2'),
        url('../fonts/BlissRegular.woff') format('woff'),
        url('../fonts/BlissRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BlissMedium';
    src: url('../fonts/BlissMedium.eot');
    src: url('../fonts/BlissMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlissMedium.woff2') format('woff2'),
        url('../fonts/BlissMedium.woff') format('woff'),
        url('../fonts/BlissMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$bliss-bold: 'BlissBold';
$bliss-ext-bold: 'BlissExtBol';
$bliss-md: 'BlissMedium';
$bliss-reg: 'BlissRegular';
$helvetica: 'Helvetica';
$my-bold: 'Myriad Pro Bold';
$my-reg: 'Myriad Pro Regular';
$sinhala: 'Sinhala MN';
$tajawal: 'Tajawal';

html{
    scroll-behavior: smooth;
}