/* GLOBAL COLOR PALETTE */
/* ==== Generic colors ==== */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Mansalva&display=swap");
@font-face {
  font-family: 'BlissExtBol';
  src: url("../fonts/Bliss-ExtraBold.bmap");
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.ttc");
}

@font-face {
  font-family: 'Sinhala MN';
  src: url("../fonts/Sinhala MN.ttc");
}

@font-face {
  font-family: 'Tajawal';
  src: url("../fonts/Tajawal-Medium.eot");
  src: url("../fonts/Tajawal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff"), url("../fonts/Tajawal-Medium.ttf") format("truetype"), url("../fonts/Tajawal-Medium.svg#Tajawal-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlissBold';
  src: url("../fonts/Bliss-Bold.eot");
  src: url("../fonts/Bliss-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bliss-Bold.woff2") format("woff2"), url("../fonts/Bliss-Bold.woff") format("woff"), url("../fonts/Bliss-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlissRegular';
  src: url("../fonts/BlissRegular.eot");
  src: url("../fonts/BlissRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissRegular.woff2") format("woff2"), url("../fonts/BlissRegular.woff") format("woff"), url("../fonts/BlissRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BlissMedium';
  src: url("../fonts/BlissMedium.eot");
  src: url("../fonts/BlissMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissMedium.woff2") format("woff2"), url("../fonts/BlissMedium.woff") format("woff"), url("../fonts/BlissMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

.ms-menu {
  display: -moz-flex;
  display: flex;
}

.container {
  display: block;
}

/* #### Adding Vendor Prefixes to the CSS #### */
/* ########## Fonts ######### */
/* ########### font weights ########## */
/* ########### Breakpoints ########## */
/* ########### Background ########## */
/* ########### Forms ########## */
/* ########### Animation ########## */
/* ########### Transition ########## */
/* ########### Box sizing ########## */
/* ########### Opacity ########## */
/* ###### Border and Border Radius ####### */
/* ########### Positioning ########## */
/* ########### Grid ########## */
/* ########### Flexbox ########## */
/* ########### Gradient ########## */
/* #### Truncate text on text overflow ### */
/* ########### Pseudo stylings ########## */
/* ########### Visibility & Display ########## */
/* ###########  padding & margins ########## */
/* ########### Misc ########## */
/* ########### list ########## */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  transition: all ease-in-out 300ms;
}

a:focus, a:hover {
  color: unset;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

textarea {
  resize: none;
}

img, object, embed, video {
  max-width: 100%;
}

button {
  background-color: transparent !important;
  border: none !important;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  font-family: "BlissBold";
}

.text-white {
  color: #fff;
}

.text-black {
  color: #fff;
}

.text-purple {
  color: #612e9e;
}

.text-harmonies {
  color: #797b77;
}

.text-black-haze {
  color: #e3dfd2;
}

.text-lime {
  color: #9cd600;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #fff;
}

.bg-purple {
  background-color: #612e9e;
}

.bg-harmonies {
  background-color: #797b77;
}

.bg-black-haze {
  background-color: #e3dfd2;
}

.bg-lime {
  background-color: #9cd600;
}

.bg-silver {
  background-color: #c6c3bc;
}

.bg-whisper {
  background-color: #e4e4e4 !important;
}

.bliss-bold {
  font-family: "BlissBold";
}

.bliss-ext-bold {
  font-family: "BlissExtBol";
}

.bliss-md {
  font-family: "BlissMedium";
}

.bliss-reg {
  font-family: "BlissRegular";
}

.helvetica {
  font-family: "Helvetica";
}

.my-bold {
  font-family: "MyriadPro-Bold";
}

.my-reg {
  font-family: "MyriadPro-Regular";
}

.sinhala {
  font-family: "Sinhala MN";
}

.tajawal {
  font-family: "Tajawal-Medium";
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.fs-x-sm {
  font-size: 15px;
}

.fs-sm {
  font-size: 16px;
}

.fs-base {
  font-size: 18px;
}

.fs-md {
  font-size: 18px;
}

.fs-lg {
  font-size: 20px;
}

.fs-x-lg {
  font-size: 25px;
}

.fs-xx-lg {
  font-size: 30px;
}

.fs-xxx-lg {
  font-size: 35px;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.op-09 {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.op-08 {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.op-07 {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.op-06 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.op-05 {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.op-04 {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.op-03 {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.op-02 {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.op-01 {
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.no-wrap {
  white-space: nowrap;
}

.ls-1 {
  letter-spacing: 1px;
}

.text-justify {
  text-align: justify;
}

.d-none {
  display: none;
}

.px-custom {
  padding-right: 3px;
  padding-left: 3px;
}

.px-custom-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.sel-item-cs-text {
  width: 325px !important;
}

#resizable {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none !important;
}

.ui-widget-content {
  overflow-x: hidden;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.ui-widget-banner-btns {
  background-color: transparent !important;
  border: none !important;
}

@media screen and (max-width: 1320px) {
  .ui-widget-banner-btns {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-banner-btns {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-banner-btns {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-banner-btns {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-banner-btns {
    transform: scale(0.6);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-banner-btns {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-types {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-types {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-types {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-types {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-types {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-types {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-types {
    transform: scale(1);
    padding-left: 0;
    padding-right: 0;
  }
  .ui-widget-types .ms-types-btn {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
  .ui-widget-types .ms-types-card {
    width: 100% !important;
  }
  .ui-widget-types .card-head {
    width: 100%;
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-book {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-book {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-book {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-book {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-book {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-book {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-book {
    transform: scale(1);
    margin-right: -16px;
  }
}

@media screen and (max-width: 585px) {
  .ui-widget-book {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 420px) {
  .ui-widget-book {
    margin-right: -32px !important;
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(1);
  }
}

@media screen and (max-width: 585px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 420px) {
  .ui-widget-service-2, .ui-widget-service {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-sig {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-sig {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-sig {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-sig {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-sig {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-sig {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-sig {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-prebook {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-prebook {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-prebook {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-prebook {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-prebook {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-prebook {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-prebook {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-selection {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-selection {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-selection {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-selection {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-selection {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-selection {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-selection {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-loc {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-loc {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-loc {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-loc {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-loc {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-loc {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-loc {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-ftr {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-ftr {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-ftr {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-ftr {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-ftr {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-ftr {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-ftr {
    transform: scale(1);
  }
}

@media screen and (max-width: 1320px) {
  .ui-widget-ms {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1080px) {
  .ui-widget-ms {
    transform: scale(0.85);
  }
}

@media screen and (max-width: 992px) {
  .ui-widget-ms {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 850px) {
  .ui-widget-ms {
    transform: scale(0.65);
  }
}

@media screen and (max-width: 768px) {
  .ui-widget-ms {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 678px) {
  .ui-widget-ms {
    transform: scale(0.53);
  }
}

@media (max-width: 603.99px) {
  .ui-widget-ms {
    transform: scale(1);
  }
}

.ui-icon {
  display: none !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.container {
  padding-right: 0;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
}

.position-relative {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
}

.cntr {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 12px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .cntr {
    padding: 0;
  }
}

.hdr-top {
  height: 188px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdr-top img {
  width: 310px;
}

.hdr-banner {
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner {
    height: 760px;
  }
}

.hdr-banner .video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 640px;
  margin-top: 188px;
}

@media (max-width: 603.99px) {
  .hdr-banner .video-wrapper {
    height: 1020px;
  }
}

.hdr-banner .video-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hdr-banner-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  /* ### mobile stylings ### */
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner-btns {
    flex-wrap: wrap;
  }
  .hdr-banner-btns .hdr-banner-btn {
    margin-bottom: 50px !important;
  }
  .hdr-banner-btns .hdr-banner-btn:first-child {
    margin-top: 30px;
  }
  .hdr-banner-btns .hdr-banner-btn:last-child {
    margin-bottom: 60px !important;
  }
}

@media (max-width: 603.99px) {
  .hdr-banner-btns {
    flex-direction: column;
  }
}

.hdr-banner-btn {
  width: 348.309px !important;
  height: 100px;
  border-radius: 55px !important;
  margin: 0 10.5px;
  border: 2px solid #fff !important;
  cursor: pointer;
  /* ### mobile stylings ### */
}

@media (max-width: 767.99px) {
  .hdr-banner-btn {
    width: 300px !important;
  }
}

@media (max-width: 603.99px) {
  .hdr-banner-btn {
    width: 348.309px !important;
  }
}

.hdr-banner-btn span {
  display: block;
  font-family: "BlissRegular";
}

.hdr-banner-btn:nth-child(1) {
  background-color: #797b77 !important;
}

.hdr-banner-btn:nth-child(1) span {
  color: #fff;
  font-size: 27px;
  font-family: "BlissRegular";
}

@media (max-width: 603.99px) {
  .hdr-banner-btn:nth-child(1) span {
    font-size: "21.56451px";
  }
}

.hdr-banner-btn:nth-child(2) {
  background-color: #612e9e !important;
  padding-top: 2px;
}

.hdr-banner-btn:nth-child(2) span {
  color: #fff;
}

.hdr-banner-btn:nth-child(2) span:nth-child(1) {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner-btn:nth-child(2) span:nth-child(1) {
    font-size: "13.58197px";
  }
}

.hdr-banner-btn:nth-child(2) span:nth-child(2) {
  font-size: 34px;
  margin-top: -1px;
  letter-spacing: 0.02em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner-btn:nth-child(2) span:nth-child(2) {
    font-size: "13.58197px";
  }
}

.hdr-banner-btn:nth-child(2) span:nth-child(3) {
  font-size: 17px;
  letter-spacing: 0.025em;
  font-family: "BlissMedium";
  margin-top: -2px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner-btn:nth-child(2) span:nth-child(3) {
    font-size: "27.16395px";
  }
}

.hdr-banner-btn:nth-child(3) {
  background-color: #bab9b5 !important;
}

.hdr-banner-btn:nth-child(3) span {
  color: #612e9e;
  font-size: 32px;
  font-family: "BlissRegular";
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .hdr-banner-btn:nth-child(3) span {
    font-size: "25.56311px";
  }
}

.ms-types {
  padding-top: 116px;
  padding-bottom: 64px;
}

@media (max-width: 603.99px) {
  .ms-types .cntr {
    padding-right: 0 !important;
  }
}

@media (max-width: 603.99px) {
  .ms-types {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.ms-types-cards {
  display: flex;
  justify-content: center;
}

.ms-types-cards .ms-types-card {
  background-color: #e3dfd2;
  width: 347.333px;
  margin: 0 11px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.ms-types-cards .ms-types-card .card-head {
  height: 141px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card .card-head {
    height: auto;
    width: 356px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 57.8px;
    padding-bottom: 45.4px;
  }
}

.ms-types-cards .ms-types-card .card-head h3 {
  text-transform: uppercase;
  color: #612e9e;
  font-size: 28px;
  letter-spacing: 0.03em;
  position: relative;
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card .card-head h3 {
    font-size: "24.9975px";
  }
}

.ms-types-cards .ms-types-card .card-head h3::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3.5px;
  width: 90.2px;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.ms-types-cards .ms-types-card .card-body {
  position: relative;
  height: 246px;
  width: 347.333px;
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card .card-body {
    height: 350px !important;
    width: 100% !important;
  }
}

.ms-types-cards .ms-types-card .card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.ms-types-cards .ms-types-card .card-body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 46, 158, 0.9);
}

.ms-types-cards .ms-types-card .card-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 317px;
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card .card-list {
    left: 50%;
  }
}

.ms-types-cards .ms-types-card .card-list li {
  font-size: 22px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "BlissRegular";
  letter-spacing: -0.01em;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-types-cards .ms-types-card .card-list li {
    font-size: "19.3314px";
  }
}

@media (max-width: 603.99px) {
  .ms-types-cards .ms-types-card .card-list li {
    margin-bottom: 28px;
  }
}

.ms-types-cards .ms-types-card .card-list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 603.99px) {
  .ms-types-cards {
    flex-direction: column;
  }
}

.ms-types-btn {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-types-btn .btn {
  width: 400px;
  height: 40px;
  font-size: 26px;
  color: #fff;
  background-color: #9cd600 !important;
  border-radius: 20px;
  font-family: "BlissMedium";
  cursor: pointer;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-types-btn .btn {
    font-size: "21.6645px";
  }
}

.ms-types .mob-booking-btn {
  display: none;
}

@media (max-width: 603.99px) {
  .ms-types .mob-booking-btn {
    display: block;
    width: 432px !important;
    margin-bottom: 45.6px;
    margin-top: -7.6px;
  }
}

.ms-types .mob-booking-btn.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 603.99px) {
  .ms-types .desk-booking-btn {
    display: none;
  }
}

.ms-service {
  background-color: #e3dfd2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-service-cnt {
  margin-top: 26px;
  margin-bottom: 25px;
}

@media screen and (max-width) {
  .ms-service-cnt {
    transform: scale(0.7);
  }
}

.ms-service-cnt .service-top-text {
  font-size: 35px;
  color: #612e9e;
  font-family: "BlissMedium";
  text-align: center;
}

@media (max-width: 603.99px) {
  .ms-service-cnt .service-top-text {
    font-size: "19.998px";
  }
}

.ms-service-cnt .service-img {
  margin-right: 20px;
  margin-left: 20px;
}

.ms-service-cnt .service-img img {
  width: 150px;
}

.ms-service-cnt .service-btm-info {
  margin-top: 8.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #612e9e;
}

.ms-service-cnt .service-btm-info-text {
  font-size: 22px;
  color: #612e9e;
  letter-spacing: 0.16em;
  font-family: "BlissMedium";
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-service-cnt .service-btm-info-text {
    font-size: "12.6654px";
  }
}

.ms-menu {
  background-color: #a6e00a;
  -moz-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  justify-content: center;
}

.ms-menu-cnt {
  margin-top: 44px;
  margin-bottom: 35px;
}

.ms-menu-cnt .menu-top-text {
  font-size: 35px;
  color: #612e9e;
  text-align: center;
  font-family: "BlissMedium";
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-menu-cnt .menu-top-text {
    font-size: "19.998px";
  }
}

.ms-menu-cnt .menu-lang-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17.5px;
}

.ms-menu-cnt .menu-lang-list li {
  font-size: 22px;
  color: #612e9e;
  font-family: "BlissMedium";
  letter-spacing: 0.16em;
  /* ### mobile stylings ### */
}

.ms-menu-cnt .menu-lang-list li:nth-child(5) a {
  font-family: "MyriadPro-Regular" !important;
}

.ms-menu-cnt .menu-lang-list li:nth-child(7) a {
  font-family: "Tajawal-Medium" !important;
}

.ms-menu-cnt .menu-lang-list li.divider {
  width: 1px;
  height: 24px;
  background-color: #612e9e;
  margin-right: 37px;
  margin-left: 37px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-menu-cnt .menu-lang-list li.divider {
    margin-right: 36px;
    margin-left: 36px;
  }
}

@media (max-width: 603.99px) {
  .ms-menu-cnt .menu-lang-list li {
    font-size: "12.6654px";
  }
}

.sc-divider {
  height: 30px;
  background-color: #fff;
}

.mob-d-none {
  display: none;
}

.ms-sig {
  padding-top: 83px;
  padding-bottom: 83px;
  background-color: #e3dfd2;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-sig {
    padding: 0;
  }
}

@media (max-width: 603.99px) {
  .ms-sig {
    padding-top: 83px;
    padding-bottom: 64px;
  }
}

.ms-sig .sig-top-text {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center !important;
  color: #612e9e;
  font-family: "Sinhala MN";
  letter-spacing: 0.04em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .sig-top-text {
    font-size: "29.997px";
    max-width: 415px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media screen and (max-width: 420px) {
  .ms-sig .sig-top-text {
    transform: scale(0.9);
  }
}

.ms-sig .ms-sig-cards {
  margin-top: 54px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards {
    margin-top: 80px;
  }
}

.ms-sig .ms-sig-cards .sig-card {
  width: 300px;
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 47px;
  }
}

.ms-sig .ms-sig-cards .sig-card .card-img {
  width: 250px;
  height: 194px;
  text-align: center;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.ms-sig .ms-sig-cards .sig-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.ms-sig .ms-sig-cards .sig-card .card-title {
  text-align: center;
  margin-top: 20px;
  color: #612e9e;
  font-size: 22px;
  font-family: "BlissBold";
  letter-spacing: 0.01em;
  text-transform: uppercase;
  line-height: 1.38;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card .card-title {
    margin-top: 33px;
    font-size: "19.998px";
  }
}

.ms-sig .ms-sig-cards .sig-card .card-body {
  margin-top: 9px;
  text-align: center;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card .card-body {
    margin-top: 17px;
  }
}

.ms-sig .ms-sig-cards .sig-card .card-body p {
  width: 310px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  line-height: 1.2;
  font-family: "BlissRegular";
  letter-spacing: 0.01em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card .card-body p {
    font-size: "18.3315px";
  }
}

.ms-sig .ms-sig-cards .sig-card .divider-line {
  margin-top: 12.4px;
  margin-bottom: 8.2px;
  height: 2.2px;
  width: 107px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.ms-sig .ms-sig-cards .sig-card .card-foot {
  text-align: center;
  padding-top: 3.2px;
}

.ms-sig .ms-sig-cards .sig-card .card-foot p {
  font-size: 20px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card .card-foot p {
    font-size: "19.06476px";
  }
}

.ms-sig .ms-sig-cards .sig-card:nth-child(1) {
  margin-right: 36px;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(1) {
    margin-right: 15px;
  }
}

@media (max-width: 767.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(1) {
    margin-right: 5px;
  }
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(1) {
    margin-right: auto;
    margin-left: auto;
  }
}

.ms-sig .ms-sig-cards .sig-card:nth-child(2) {
  margin-left: 36px;
  margin-right: 40px;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(2) {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 767.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(2) {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
  }
}

.ms-sig .ms-sig-cards .sig-card:nth-child(3) {
  margin-left: 40px;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(3) {
    margin-left: 15px;
  }
}

@media (max-width: 767.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(3) {
    margin-left: 5px;
  }
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card:nth-child(3) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.ms-sig .ms-sig-cards .sig-card .cta-btn {
  margin-top: 8px;
  text-align: center;
}

.ms-sig .ms-sig-cards .sig-card .cta-btn a {
  font-size: 18px;
  text-align: center;
  color: #612e9e;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards .sig-card .cta-btn a {
    font-size: "16.665px";
  }
}

@media (max-width: 603.99px) {
  .ms-sig .ms-sig-cards {
    flex-direction: column;
    align-items: center;
  }
}

.ms-prebook {
  background: linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)), url("../../assets/images/prebook-img.jpg") center/cover no-repeat;
  background-attachment: fixed;
  min-height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 603.99px) {
  .ms-prebook {
    padding-top: 95px;
    padding-bottom: 117px;
  }
}

.ms-prebook-cnt .prebook-top-text {
  font-size: 36px;
  font-family: "Sinhala MN";
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  /* ### mobile stylings ### */
}

@media (max-width: 991.99px) {
  .ms-prebook-cnt .prebook-top-text {
    font-size: "29.997px";
  }
}

@media screen and (max-width: 420px) {
  .ms-prebook-cnt .prebook-top-text {
    transform: scale(0.9);
  }
}

.ms-prebook-cnt .prebook-mid-text {
  margin-top: 51px;
  margin-bottom: 30px;
  text-align: center;
  color: #9cd600;
  font-size: 22px;
  letter-spacing: 0.01em;
  font-family: "BlissBold";
  line-height: 1.58;
  max-width: 1051px;
  margin-right: auto;
  margin-left: auto;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-mid-text {
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
    font-size: "19.998px";
    margin-bottom: 63px;
  }
}

.ms-prebook-cnt .prebook-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-prebook-cnt .prebook-list .prebook-item {
  margin-right: 29px;
  margin-left: 29px;
  position: relative;
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list .prebook-item {
    margin-bottom: 37px;
  }
}

.ms-prebook-cnt .prebook-list .prebook-item-body {
  width: 163px;
  height: 163px;
  border-radius: 50%;
  background-color: #e3dfd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text {
  text-align: center;
  color: #612e9e;
}

.ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text-top {
  font-size: 22px;
  display: block;
  margin-bottom: 1px;
  margin-top: 5px;
  font-family: "BlissBold";
  letter-spacing: 0.01em;
  /* ### mobile stylings ### */
}

.ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text-top:nth-child(2) {
  margin-top: -1px;
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text-top {
    font-size: "16.665px";
  }
}

.ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text-btm {
  font-size: 19px;
  display: block;
  font-family: "BlissMedium";
  letter-spacing: 0.01em;
  margin-top: 3px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text-btm {
    font-size: "16.665px";
  }
}

.ms-prebook-cnt .prebook-list .prebook-item-body .prebook-item-text .divider {
  height: 3px;
  width: 42px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7px;
  margin-bottom: 6px;
}

.ms-prebook-cnt .prebook-list .prebook-item-foot {
  margin-top: 16px;
  /* ### mobile stylings ### */
}

.ms-prebook-cnt .prebook-list .prebook-item-foot p {
  font-size: 23px;
  text-align: center;
  color: #9cd600;
  font-family: "BlissMedium";
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list .prebook-item-foot p {
    font-size: "19.998px";
  }
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list .prebook-item-foot {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    left: calc(100%  + 24px);
  }
}

.ms-prebook-cnt .prebook-list .prebook-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 603.99px) {
  .ms-prebook-cnt .prebook-list {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.ms-ours {
  padding-top: 82px;
  padding-bottom: 85px;
}

.ms-ours-cnt .ours-top-text {
  margin-bottom: 68px;
  font-family: "Sinhala MN";
  font-size: 36px;
  text-align: center;
  color: #612e9e;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-ours-cnt .ours-top-text {
    font-size: "29.997px";
    max-width: 405px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 420px) {
  .ms-ours-cnt .ours-top-text {
    transform: scale(0.9);
  }
}

.ms-selection {
  padding-top: 82px;
  padding-bottom: 34.3px;
  background: linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)), url("../../assets/images/selection.jpg") center/cover no-repeat;
  background-attachment: fixed;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-selection {
    padding-top: 119px;
    padding-bottom: 135px;
  }
}

.ms-selection-cnt {
  max-width: 1045px;
  margin-right: auto;
  margin-left: auto;
}

.ms-selection-cnt .selection-top-text {
  margin-bottom: 54px;
  font-family: "Sinhala MN";
  font-size: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-selection-cnt .selection-top-text {
    font-size: "29.3304px";
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 420px) {
  .ms-selection-cnt .selection-top-text {
    transform: scale(0.9);
  }
}

.ms-selection-cnt .selection-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  /* ### mobile stylings ### */
}

.ms-selection-cnt .selection-list .sel-item {
  max-width: 312px;
  margin-right: 27.5px;
  margin-left: 27.5px;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-selection-cnt .selection-list .sel-item {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

.ms-selection-cnt .selection-list .sel-item-title {
  color: #9cd600;
  font-size: 22px;
  font-family: "BlissBold";
  letter-spacing: 0.025em;
  width: 350px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-selection-cnt .selection-list .sel-item-title {
    font-size: "19.3314px";
  }
}

.ms-selection-cnt .selection-list .sel-item-text {
  margin-top: 5.6px;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  font-family: "BlissRegular";
  width: 312px;
  margin-right: auto;
  margin-left: auto;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-selection-cnt .selection-list .sel-item-text {
    font-size: "17.6649px";
  }
}

.ms-selection-cnt .selection-list .sel-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 603.99px) {
  .ms-selection-cnt .selection-list {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

.ms-loc {
  background-color: #e3dfd2;
  padding-top: 45px;
  padding-bottom: 24px;
}

@media (max-width: 603.99px) {
  .ms-loc {
    padding-top: 88px;
  }
}

.ms-loc-cnt .loc-list {
  display: flex;
  justify-content: center;
}

.ms-loc-cnt .loc-list .loc-item-img {
  width: 247px;
  height: 247px;
  overflow: hidden;
  margin-bottom: 20.8px;
  margin-right: auto;
  margin-left: auto;
}

.ms-loc-cnt .loc-list .loc-item-text p {
  color: #612e9e;
  text-align: center;
  font-size: 20px;
  margin-bottom: 2px;
  font-family: "BlissRegular";
  /* ### mobile stylings ### */
}

.ms-loc-cnt .loc-list .loc-item-text p:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 3px;
  font-family: "BlissBold";
  letter-spacing: 0.1em;
}

@media (max-width: 603.99px) {
  .ms-loc-cnt .loc-list .loc-item-text p {
    font-size: "18.3315px";
  }
}

.ms-loc-cnt .loc-list .loc-item:nth-child(1) {
  margin-right: 86.5px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-loc-cnt .loc-list .loc-item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 87px;
  }
}

.ms-loc-cnt .loc-list .loc-item:nth-child(2) {
  margin-left: 86.5px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-loc-cnt .loc-list .loc-item:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 603.99px) {
  .ms-loc-cnt .loc-list {
    flex-direction: column;
  }
}

.ftr-top-divider {
  background-color: #e3dfd2;
}

.ftr-top-divider .line {
  max-width: 1087px;
  background-color: #fff;
  height: 2.2px;
  margin-right: auto;
  margin-left: auto;
}

.ftr {
  background-color: #e3dfd2;
  padding-top: 26px;
  padding-bottom: 30px;
}

.ftr .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.ftr .social-links .social-link {
  width: 43.5px;
  height: 43.5px;
  display: inline-block;
  background-color: #612e9e;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 28px;
}

.ftr .social-links .social-link:hover {
  transform: scale(0.9);
}

.ftr .footer-p-text {
  font-size: 20px;
  line-height: 1.325;
  text-align: center;
  color: #612e9e;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  font-family: "BlissRegular";
  letter-spacing: 0.01em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ftr .footer-p-text {
    font-size: "18.3315px";
    width: 365px;
  }
  .ftr .footer-p-text .d-none {
    display: block;
  }
}

.ftr .footer-mail-text {
  margin-top: 3.9;
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
  color: #612e9e;
  font-family: "BlissBold";
  letter-spacing: 0.01em;
}

.ftr .footer-mail-text a {
  color: #612e9e;
}

.ftr .footer-attr-text {
  font-size: 17px;
  font-family: "BlissRegular";
  text-align: center;
  opacity: 0.7;
  letter-spacing: 0.01em;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ftr .footer-attr-text {
    font-size: "13.332px";
  }
}

.form-btm-text {
  font-size: 22px;
  font-family: "BlissMedium";
  text-align: center;
}

.ms-book {
  padding-bottom: 66.5px;
  min-height: 640px;
}

.ms-book-cnt {
  padding-top: 75.3px;
}

.ms-book-cnt .book-top-text {
  font-family: "Sinhala MN";
  font-size: 36px;
  text-align: center;
  color: #612e9e;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.ms-book-cnt .book-mid-text {
  color: #612e9e;
  font-size: 33px;
  text-align: center;
  font-family: "BlissMedium";
}

.ms-book-cnt form {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 420px) {
  .ms-book-cnt form {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form button {
    font-size: 22px !important;
  }
}

.ms-book-cnt form .form-row {
  display: flex;
  justify-content: center;
}

.ms-book-cnt form .form-row > div:first-child {
  margin-right: 40px;
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-row {
    flex-direction: column;
  }
  .ms-book-cnt form .form-row > div:first-child {
    margin-right: 0;
  }
}

.ms-book-cnt form .form-elem {
  width: 524px !important;
  height: 35px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 21px;
  overflow: hidden;
  /* ### mobile stylings ### */
}

.ms-book-cnt form .form-elem.center {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991.99px) {
  .ms-book-cnt form .form-elem.center {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.ms-book-cnt form .form-elem.mb-13 {
  margin-bottom: 13px !important;
}

@media (max-width: 991.99px) {
  .ms-book-cnt form .form-elem {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-elem {
    width: 100% !important;
    height: 47px;
    border-radius: 30px;
  }
}

.ms-book-cnt form .form-control {
  border: none;
  margin-right: 15px;
  color: #000;
  width: 100%;
  font-size: 22px;
  font-family: "BlissMedium";
}

.ms-book-cnt form .form-control::placeholder {
  color: #000;
}

.ms-book-cnt form .form-control.placeholder-purple::placeholder {
  color: #612e9e;
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form .form-control {
    font-size: 20px !important;
  }
}

.ms-book-cnt form .form-label {
  font-size: 22px;
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form .form-label {
    font-size: 20px !important;
  }
}

.ms-book-cnt form .form-elem-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ms-book-cnt form .radio-container {
  display: flex;
  align-items: center;
}

.ms-book-cnt form .radio-container .radio-wrap:first-child {
  margin-right: 37px;
}

.ms-book-cnt form .radio-container .radio-wrap:last-child {
  margin-right: 8px;
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form .radio-container .radio-wrap:first-child {
    margin-right: 20px;
  }
  .ms-book-cnt form .radio-container .radio-wrap:last-child {
    margin-right: 8px;
  }
}

.ms-book-cnt form .radio-wrap {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.ms-book-cnt form .radio-wrap span {
  margin-right: 12px;
  font-size: 22px;
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form .radio-wrap span {
    font-size: 20px !important;
  }
}

.ms-book-cnt form .form-radio {
  width: 17px;
  height: 17px;
  position: relative;
  margin-left: 12.5px;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-radio {
    margin-right: 10px;
  }
}

.ms-book-cnt form .form-radio::after {
  content: "";
  position: absolute;
  top: -8.5px;
  left: -8.5px;
  right: 0;
  bottom: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: 5;
  background-color: #fff;
  /* ### mobile stylings ### */
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-radio::after {
    top: -7px;
    left: -7px;
    width: 30px !important;
    height: 30px !important;
  }
}

.ms-book-cnt form .form-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: #612e9e;
  border-radius: 50%;
  z-index: 10;
}

.ms-book-cnt form .form-elem-purple {
  margin-top: 2px;
  background-color: #612e9e !important;
  margin-right: 0 !important;
}

.ms-book-cnt form .form-elem-purple select {
  background-color: #612e9e !important;
  color: #fff;
  width: 100%;
  height: 100%;
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-elem-purple {
    margin-top: 25px;
  }
}

.ms-book-cnt form .form-elem-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.2px !important;
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-elem-btn {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.ms-book-cnt form .form-elem-btn .form-btn {
  cursor: pointer;
  height: 40px;
  font-size: 26px;
  color: #9cd600;
  background-color: #fff !important;
  border-radius: 20px;
  font-family: "BlissMedium";
  width: 526px;
  border: 1.5px solid #fff !important;
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-elem-btn .form-btn {
    height: 67px;
    border-radius: 30px;
  }
}

@media (max-width: 603.99px) {
  .ms-book-cnt form .form-elem-btn {
    margin-top: 26px;
  }
}

.ms-book-cnt form select option {
  font-size: 20px;
  background-color: #fff;
  color: #aea29f;
  font-family: "BlissRegular";
  border-radius: 20px;
}

.ms-book-cnt form select option:hover {
  background-color: #e4e4e4;
  color: #000;
}

@media screen and (max-width: 585px) {
  .ms-book-cnt form select option {
    font-size: 20px !important;
  }
}

.ms-book-2 {
  display: none;
}

.ms-book-2 select optgroup {
  font-size: 20px !important;
  color: #612e9e;
}

.ms-book-2 .treatment-grid {
  min-height: 237px;
}

.ms-book-2 .treatment-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 603.99px) {
  .ms-book-2 .treatment-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ms-book-2 .treatment-list .treatment-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 45px;
  margin-bottom: 13px;
}

@media (max-width: 603.99px) {
  .ms-book-2 .treatment-list .treatment-item {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.ms-book-2 .treatment-list .treatment-item:nth-child(even) {
  justify-content: flex-start;
  margin-right: 0;
}

@media (max-width: 603.99px) {
  .ms-book-2 .treatment-list .treatment-item:nth-child(even) {
    justify-content: center;
  }
}

.ms-book-2 .treatment-list .treatment-item-l, .ms-book-2 .treatment-list .treatment-item-r {
  background-color: #fff;
  height: 35px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

@media (max-width: 603.99px) {
  .ms-book-2 .treatment-list .treatment-item-l, .ms-book-2 .treatment-list .treatment-item-r {
    height: 45px;
    border-radius: 30px;
  }
}

.ms-book-2 .treatment-list .treatment-item-l {
  width: 440px;
  margin-right: 8px;
}

@media screen and (max-width: 585px) {
  .ms-book-2 .treatment-list .treatment-item-l {
    width: 100%;
  }
}

.ms-book-2 .treatment-list .treatment-item-r {
  width: 83px;
}

.ms-book-2 .treatment-list .treatment-item-r select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0px;
  text-overflow: '';
}

.ms-book-2 .form-btm-text {
  margin-top: 24px;
}

.ms-book-3 {
  display: none;
}

.ms-book-3-cnt {
  text-align: center !important;
}

.ms-book-3 .submit-top-text {
  color: #612e9e;
  font-size: 26px;
  text-align: center;
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
  font-family: "BlissRegular";
  margin-top: 74px;
}

.ms-book-3 .submit-btm-text {
  max-width: 870px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  font-family: "BlissRegular";
  color: #000;
  text-align: center;
  margin-top: 34px;
  line-height: 1.27273;
}

.ms-book-3 .submit-btm-text span {
  font-size: 24px;
  font-family: "BlissMedium";
  margin-bottom: 4px;
}

@media (max-width: 603.99px) {
  .ms-book-3 .submit-btm-text {
    width: auto;
  }
}

.slide-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100% !important;
  overflow-x: hidden;
  transition: all ease-in-out 300ms;
}

.slide-section .cntr {
  padding-right: 32px;
}

.slide-section section {
  width: 100%;
}

.slide-section .ms-types {
  width: 100vw;
  transition: all ease-in-out 300ms;
}

.slide-section .ms-book {
  display: none;
  width: 100vw;
  transition: all ease-in-out 300ms;
}

.show-booking .ms-types {
  display: none;
}

.show-booking .ms-book {
  display: block;
}

.grid-item {
  width: auto;
}

.change-btn {
  background-color: #9cd600 !important;
  border-color: #fff !important;
  color: #fff;
}

.change-selected {
  background-color: #e4e4e4 !important;
}

.change-selected select {
  background-color: #e4e4e4 !important;
}
/*# sourceMappingURL=main.css.map */