.cntr{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0px 12px;

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        padding: 0;
    }
}

.hdr-top{
    height: 188px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img{
        width: 310px;
    }
}
.hdr-banner{
    position: relative;
    height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden!important;
    
    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        height: 652px;
    }

    .video-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        overflow: hidden!important;
        height: 640px;
        margin-top: 0;

        @include breakpoint-down(mob){
            height: 760px;
        }

        .video-item{
            height: 640px;
            @include breakpoint-down(mob){
                height: 760px;
            }
        }

        video{
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;

            @include breakpoint-down(mob){
                // height: 760px;
            }
        }
    }
}
.hdr-banner-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .hdr-banner-btn{
            margin-bottom: 50px!important;

            &:first-child{
                margin-top: 30px;
            }


            &:last-child{
                margin-bottom: 60px!important;
            }
        }
    }

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.hdr-banner-btn{
    width: 348.309px!important;
    height: 100px;
    border-radius: 55px!important;
    margin: 0 10.5px;
    border: 2px solid $clr-white!important;
    cursor: pointer;

    @include breakpoint-down(md){
        width: 300px!important;
    }

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        height: 85px;
    }

    span{
        display: block;
        font-family: $bliss-reg;
    }

    // first button
    &:nth-child(1){
        background-color: $clr-harmonies!important;
        span{
            color: $clr-white;
            font-size: 27px;
            font-family: $bliss-reg;

            @include breakpoint-down(mob){
                font-size: 24px;
            }
        }
    }

    // second button
    &:nth-child(2){
        background-color: $clr-purple!important;
        padding-top: 2px;
        
        span{
            color: $clr-white;
            &:nth-child(1){
                font-size: 17px;
                text-transform: uppercase;
                @include tracking(120);

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    font-size: 14px;
                }
            }
            
            &:nth-child(2){
                font-size: 34px;
                margin-top: -1px;
                @include tracking(20);

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    font-size: 30px;
                }
            }

            &:nth-child(3){
                font-size: 17px;
                @include tracking(25);
                font-family: $bliss-md;
                margin-top: -2px;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    @include ptcon(81.5);
                }
            }
        }
    }

    // third button
    &:nth-child(3){
        background-color: #bab9b5!important;
        span{
            color: $clr-purple;
            font-size: 32px;
            font-family: $bliss-reg;

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                font-size: 28px;
            }
        }
    }
}

//  ms types
.ms-types{
    padding-top: 116px;
    padding-bottom: 64px;

    .cntr{
        @include breakpoint-down(mob){
            padding-right: 0!important;
        }
    }

    @include breakpoint-down(mob){
        padding-bottom: 0!important;
        padding-top: 0!important;
    }
    
    &-cards{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .ms-types-card{
            background-color: $clr-black-haze;
            width: 347.333px;
            margin: 0 11px;

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                width: 100%!important;
                margin-right: auto!important;
                margin-left: auto!important;
            }
            
            .card-head{
                height: 141px;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                text-align: center;

                @include breakpoint-down(mob){
                    height: auto;
                    width: 356px;
                    margin-right: auto;
                    margin-left: auto;
                    padding-top: 57.8px;
                    padding-bottom: 45.4px;
                }

                h3{
                    text-transform: uppercase;
                    color: $clr-purple;
                    font-size: 28px;
                    @include tracking(30);
                    position: relative;
                    // line-height: 1.35;

                    @include breakpoint-down(mob){
                        @include ptcon(75);
                    }


                    &::after{
                        content: "";
                        position: absolute;
                        background-color: $clr-white;
                        height: 3.5px;
                        width: 90.2px;
                        bottom: -17px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                                transform: translateX(-50%);
                        z-index: 10;
                    }
                }

                @include breakpoint-down(mob){
                    height: 130px!important;
                }
            }
            .card-body{
                position: relative;
                height: 246px;
                width: 347.333px;

                @include breakpoint-down(mob){
                    height: 350px!important;
                    width: 100%!important;
                }


                img{
                    @include img-cover;
                }

                &::after{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(97, 46, 158, 0.9);
                }
            }
            .card-list{
                position: absolute;
                top: 0;
                right: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                bottom: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                z-index: 5;
                width: 317px;

                // #############
                @include breakpoint-down(mob){
                    left: 50%;
                }

                li{
                    font-size: 22px;
                    margin-bottom: 18px;
                    text-align: center;
                    font-family: $bliss-reg;
                    @include tracking(-15);

                    @include breakpoint-down(lg){
                        @include ptcon(58);
                    }

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        margin-bottom: 28px;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            
        }

        @include breakpoint-down(mob){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

    &-btn{
        margin-top: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .btn{
            width: 400px;
            height: 40px;
            font-size: 26px;
            color: $clr-white;
            background-color: $clr-lime!important;
            border-radius: 20px;
            font-family: $bliss-reg;
            cursor: pointer;

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                @include ptcon(65);
            }
        }
    }

    .mob-booking-btn{
        display: none;
        @include breakpoint-down(mob){
            display: block;
            width: 432px!important;
            margin-bottom: 30px;
            margin-top: -17px;
        }
        &.mb-0{
            margin-bottom: 0;
        }
    }

    .desk-booking-btn{
        @include breakpoint-down(mob){
            display: none;
        }
    }

    @include breakpoint-down(mob){
        .ms-types-btn{
            width: 360px;
            margin-right: auto;
            margin-left: auto;
        }

        .ms-types-card{
            width: 100%!important;
        }

        .card-head{
            width: 100%;
        }
    }
}

.ms-service{
    background-color: $clr-black-haze;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &-cnt{
        margin-top: 26px;
        margin-bottom: 25px;

        @include breakpoint-down(mob){
            padding-top: 20px;
            padding-bottom: 18px;
        }

        .service-top-text{
            font-size: 35px;
            color: $clr-purple;
            font-family: $bliss-md;
            text-align: center;

            @include breakpoint-down(mob){
                @include ptcon(60);
                font-size: 30px;
            }
        }
        .service-img{
            margin-right: 20px;
            margin-left: 20px;
            img{
                width: 150px;
            }
        }
        .service-btm-info{
            margin-top: 8.9px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-transform: uppercase;
            color: $clr-purple;

            &-text{
                font-size: 22px;
                color: $clr-purple;
                @include tracking(160);
                font-family: $bliss-md;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    @include ptcon(38);
                    font-size: 18px;
                }
            }
        }
    }
}

.ms-menu{
    background-color: #a6e00a;
    @include flex-center;

    &-cnt{
        margin-top: 44px;
        margin-bottom: 35px;

        @include breakpoint-down(mob){
            padding-top: 26px;
            padding-bottom: 26px;
        }

        .menu-top-text{
            font-size: 35px;
            color: $clr-purple;
            text-align: center;
            font-family: $bliss-md;

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                @include ptcon(60);
                font-size: 30px;
            }
        }

        .menu-lang-list{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-top: 17.5px;
            li{
                font-size: 22px;
                color: $clr-purple;
                font-family: $bliss-md;
                @include tracking(160);

                &:nth-child(5) a{
                    font-family: $my-reg!important;
                }

                &:nth-child(7) a{
                    font-family: $tajawal!important;
                }

                &.divider{
                    width: 1px;
                    height: 24px;
                    background-color: $clr-purple;
                    margin-right: 37px;
                    margin-left: 37px;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        margin-right: 36px;
                        margin-left: 36px;
                    }
                }

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    @include ptcon(38);
                    font-size: 18px;
                }
            }
        }
    }
}

.sc-divider{
    height: 30px;
    background-color: $clr-white;
}

.mob-d-none{
    display: none;
}

.ms-sig{
    padding-top: 83px;
    padding-bottom: 83px;
    background-color: $clr-black-haze;

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        padding-top: 60px;
        padding-bottom: 42px;
    }

    .sig-top-text{
        font-size: 36px;
        text-transform: uppercase;
        text-align: center!important;
        color: $clr-purple;
        font-family: $sinhala;
        @include tracking(40);

        /* ### mobile stylings ### */
        @include breakpoint-down(mob){
            @include ptcon(90);
            max-width: 415px;
            margin-right: auto!important;
            margin-left: auto!important;
        }

        @media screen and (max-width: 420px){
            -webkit-transform: scale(0.90);
                -ms-transform: scale(0.90);
                    transform: scale(0.90);
        }
    }

    .ms-sig-cards{
        margin-top: 54px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        @include breakpoint-down(mob){
            margin-top: 80px;
        }

        .sig-card{
            width: 300px;
            @include breakpoint-down(mob){
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 30px;
            }

            .card-img{
                width: 250px;
                height: 194px;
                text-align: center;
                overflow: hidden;
                margin-right: auto;
                margin-left: auto;
                img{
                    @include img-cover;
                }
            }
            .card-title{
                text-align: center;
                margin-top: 20px;
                color: $clr-purple;
                font-size: 22px;
                font-family: $bliss-bold;
                @include tracking(10);
                text-transform: uppercase;
                line-height: 1.38;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-top: 33px;
                    @include ptcon(60);
                }
            }
            .card-body{
                margin-top: 9px;
                text-align: center;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-top: 17px;
                }

                p{
                    width: 310px;
                    margin-right: auto;
                    margin-left: auto;
                    font-size: 20.5px;
                    @include lh(24px, 20px);
                    font-family: $bliss-reg;
                    @include tracking(10);
                    color: $clr-black;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        @include ptcon(55);
                        margin-top: -12px;
                    }
                }
            }
            .divider-line{
                margin-top: 12.4px;
                margin-bottom: 8.2px;
                height: 2.2px;
                width: 107px;
                background-color: $clr-white;
                margin-right: auto;
                margin-left: auto;
            }
            .card-foot{
                text-align: center;
                padding-top: 3.2px;
                p{
                    font-size: 20px;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        @include ptcon(57.2);
                    }
                }
            }

            &:nth-child(1){
                margin-right: 36px;

                @include breakpoint-down(lg){
                    margin-right: 15px;
                }

                @include breakpoint-down(md){
                    margin-right: 5px;
                }

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            &:nth-child(2){
                margin-left: 36px;
                margin-right: 40px;
                @include breakpoint-down(lg){
                    margin-right: 15px;
                    margin-left: 15px;
                }

                @include breakpoint-down(md){
                    margin-right: 5px;
                    margin-left: 5px;
                }

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            &:nth-child(3){
                margin-left: 40px;
                @include breakpoint-down(lg){
                    margin-left: 15px;
                }

                @include breakpoint-down(md){
                    margin-left: 5px;
                }

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 0;
                }
            }

            .cta-btn{
                margin-top: 8px;
                text-align: center;
                a{
                    font-size: 18px;
                    text-align: center;
                    color: $clr-purple;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        @include ptcon(50);
                    }
                }
            }
        }

        @include breakpoint-down(mob){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    }
}

.ms-prebook{
    background: -o-linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)), url('../../assets/images/prebook-img.jpg') center/cover no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 46, 158, 0.9)), to(rgba(97, 46, 158, 0.9))), url('../../assets/images/prebook-img.jpg') center/cover no-repeat;
    background: linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)), url('../../assets/images/prebook-img.jpg') center/cover no-repeat;
    // background-attachment: fixed;
    min-height: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    @include breakpoint-down(mob){
        padding-top: 95px;
        padding-bottom: 117px;
    }

    &-cnt{
        .prebook-top-text{
            font-size: 36px;
            font-family: $sinhala;
            text-align: center;
            color: $clr-white;
            text-transform: uppercase;
            @include tracking(40);

            /* ### mobile stylings ### */
            @include breakpoint-down(lg){
                @include ptcon(90);
            }

            @media screen and (max-width: 420px){
                -webkit-transform: scale(0.90);
                    -ms-transform: scale(0.90);
                        transform: scale(0.90);
            }
        }
        .prebook-mid-text{
            margin-top: 38px;
            margin-bottom: 30px;
            text-align: center;
            color: $clr-lime;
            font-size: 22px;
            @include tracking(10);
            font-family: $bliss-bold;
            line-height: 1.4;
            max-width: 1051px;
            margin-right: auto;
            margin-left: auto;

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                max-width: 340px;
                margin-right: auto;
                margin-left: auto;
                @include ptcon(60);
                margin-bottom: 63px;
            }
        }

        .prebook-list{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            .prebook-item{
                margin-right: 29px;
                margin-left: 29px;
                position: relative;

                @include breakpoint-down(mob){
                    margin-bottom: 37px;
                }

                &-body{
                    width: 163px;
                    height: 163px;
                    border-radius: 50%;
                    background-color: #e3dfd2;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    margin-right: auto;
                    margin-left: auto;

                    .prebook-item-text{
                        text-align: center;
                        color: $clr-purple;

                        &-top{
                            font-size: 22px;
                            display: block;
                            margin-bottom: 1px;
                            margin-top: 5px;
                            font-family: $bliss-bold;
                            @include tracking(10);

                            &:nth-child(2){
                                margin-top: -1px;
                            }

                            /* ### mobile stylings ### */
                            @include breakpoint-down(mob){
                                @include ptcon(50);
                            }
                        }
                        &-btm{
                            font-size: 19px;
                            display: block;
                            font-family: $bliss-md;
                            @include tracking(10);
                            margin-top: 3px;

                            /* ### mobile stylings ### */
                            @include breakpoint-down(mob){
                                @include ptcon(50);
                            }
                        }

                        .divider{
                            height: 3px;
                            width: 42px;
                            background-color: $clr-white;
                            margin-right: auto;
                            margin-left: auto;
                            margin-top: 7px;
                            margin-bottom: 6px; 
                        }
                    }
                }

                &-foot{
                    margin-top: 16px;
                    p{
                        font-size: 23px;
                        text-align: center;
                        color: $clr-lime;
                        font-family: $bliss-md;

                        /* ### mobile stylings ### */
                        @include breakpoint-down(mob){
                            @include ptcon(60);
                        }
                    }

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        position: absolute;
                        top: 42%;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                        left: calc(100%  + 24px);
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }

            @include breakpoint-down(mob){
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
        }
    }
}

.ms-ours{
    padding-top: 82px;
    padding-bottom: 85px;

    &-cnt{
        .ours-top-text{
            margin-bottom: 68px;
            font-family: $sinhala;
            font-size: 36px;
            text-align: center;
            color: $clr-purple;
            text-transform: uppercase;
            @include tracking(40);

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                @include ptcon(90);
                max-width: 405px;
                margin-right: auto;
                margin-left: auto;
            }

            @media screen and (max-width: 420px){
                -webkit-transform: scale(0.90);
                    -ms-transform: scale(0.90);
                        transform: scale(0.90);
            }
        }
    }
}

.ms-selection{
    padding-top: 82px;
    padding-bottom: 34.3px;
    background: -o-linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)),  url('../../assets/images/selection.jpg') center/cover no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 46, 158, 0.9)), to(rgba(97, 46, 158, 0.9))),  url('../../assets/images/selection.jpg') center/cover no-repeat;
    background: linear-gradient(rgba(97, 46, 158, 0.9), rgba(97, 46, 158, 0.9)),  url('../../assets/images/selection.jpg') center/cover no-repeat;
    // background-attachment: fixed;

    /* ### mobile stylings ### */
    @include breakpoint-down(mob){
        padding-top: 119px;
        padding-bottom: 135px;
    }

    &-cnt{
        max-width: 1045px;
        margin-right: auto;
        margin-left: auto;

        .selection-top-text{
            margin-bottom: 54px;
            font-family: $sinhala;
            font-size: 36px;
            text-align: center;
            color: $clr-white;
            text-transform: uppercase;
            @include tracking(40);

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                // margin-bottom: 110px;
                @include ptcon(88);
                max-width: 400px;
                margin-right: auto;
                margin-left: auto;
            }

            @media screen and (max-width: 420px){
                -webkit-transform: scale(0.90);
                    -ms-transform: scale(0.90);
                        transform: scale(0.90);
            }
        }

        .selection-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
    
            .sel-item{
                max-width: 312px;
                margin-right: 27.5px;
                margin-left: 27.5px;
                margin-bottom: 37px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                text-align: center;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-right: 0;
                    margin-left: 0;
                    width: 100%;
                    // margin-bottom: 64px;
                }

                &-title{
                    color: $clr-lime;
                    font-size: 22px;
                    font-family: $bliss-bold;
                    @include tracking(25);
                    width: 350px;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        @include ptcon(58);
                    }
                }

                &-text{
                    margin-top: 5.6px;
                    color: $clr-white;
                    font-size: 20px;
                    @include lh(30, 20);
                    font-family: $bliss-reg;
                    width: 312px;
                    margin-right: auto;
                    margin-left: auto;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        @include ptcon(53);
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }

            /* ### mobile stylings ### */
            @include breakpoint-down(mob){
                grid-template-columns: repeat(1, 1fr);
                place-items: center;
            }
        }
    }
}

.ms-loc{
    background-color: $clr-black-haze;
    padding-top: 45px;
    padding-bottom: 24px;

    @include breakpoint-down(mob){
        padding-top: 88px;
    }

    &-cnt{
        .loc-list{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .loc-item{
                &-img{
                    width: 247px;
                    height: 247px;
                    overflow: hidden;
                    margin-bottom: 20.8px;
                    margin-right: auto;
                    margin-left: auto;
                }
                &-text{
                    p{
                        color: $clr-purple;
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 2px;
                        font-family: $bliss-reg;
                        
                        &:nth-child(1){
                            text-transform: uppercase;
                            font-size: 20px;
                            margin-bottom: 3px;
                            font-family: $bliss-bold;
                            @include tracking(100);
                        }

                        /* ### mobile stylings ### */
                        @include breakpoint-down(mob){
                            @include ptcon(55);
                        }
                    }
                }

                &:nth-child(1){
                    margin-right: 86.5px;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        margin-right: 0;
                        margin-bottom: 87px;
                    }
                }
                &:nth-child(2){
                    margin-left: 86.5px;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        margin-left: 0;
                    }
                }
            }

            @include breakpoint-down(mob){
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
        }
    }
}

.ftr-top-divider{
    background-color: $clr-black-haze;

    .line{
        max-width: 1087px;
        background-color: $clr-white;
        height: 2.2px;
        margin-right: auto;
        margin-left: auto;
    }
}

.ftr{
    background-color: $clr-black-haze;
    padding-top: 26px;
    padding-bottom: 30px;
    // margin-bottom: 75px;

    .social-links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 20px;

        .social-link{
            width: 43.5px;
            height: 43.5px;
            display: inline-block;
            background-color: $clr-purple;
            color: $clr-white;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 28px;

            &:hover{
                -webkit-transform: scale(0.9);
                    -ms-transform: scale(0.9);
                        transform: scale(0.9);
            }
        }
    }

    .footer-p-text{
        font-size: 20px;
        line-height: 1.325;
        text-align: center;
        color: $clr-purple;
        max-width: 970px;
        margin-right: auto;
        margin-left: auto;
        font-family: $bliss-reg;
        @include tracking(10);

        /* ### mobile stylings ### */
        @include breakpoint-down(mob){
            @include ptcon(55);
            width: 365px;

            .d-none{
                display: block;
            }
        }
    }

    .footer-mail-text{
        margin-top: 3.9;
        margin-bottom: 32px;
        text-align: center;
        font-size: 20px;
        color: $clr-purple;
        font-family: $bliss-bold;

        @include tracking(10);

        a{
            color: $clr-purple;
        }
    }

    .footer-attr-text{
        font-size: 17px;
        font-family: $bliss-reg;
        text-align: center;
        opacity: 0.7;
        @include tracking(10);

        /* ### mobile stylings ### */
        @include breakpoint-down(mob){
            @include ptcon(40);
        }
    }
}

.form-btm-text{
    font-size: 22px;
    font-family: $bliss-md;
    text-align: center;
    line-height: 1.4;
}

// booking form
.ms-book{
    padding-bottom: 66.5px;
    min-height: 640px;
    position: relative;

    &-cnt{
        padding-top: 75.3px;

        .book-top-text{
            font-family: $sinhala;
            font-size: 36px;
            text-align: center;
            color: $clr-purple;
            text-transform: uppercase;
            margin-bottom: 44px;
        }
        .book-mid-text{
            color: $clr-purple;
            font-size: 33px;
            text-align: center;
            font-family: $bliss-md;
        }

        form{
            margin-top: 20px;
            padding-right: 20px;
            padding-left: 20px;

            @media screen and (max-width: 420px){
                padding-right: 0px!important;
                padding-left: 0px!important;
            }

            button{
                @media screen and (max-width: 585px){
                    font-size: 22px!important;
                }
            }

            .form-row{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                > div{
                    &:first-child{
                        margin-right: 40px;
                    }
                }

                @include breakpoint-down(mob){
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;

                    > div{
                        &:first-child{
                            margin-right: 0;
                        }
                    }
                }
            }

            .form-elem{
                width: 524px!important;
                height: 35px;
                border-radius: 20px;
                background-color: $clr-white;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                padding-left: 13px;
                margin-bottom: 21px;

                &.center{
                    margin-right: auto;
                    margin-left: auto;
                }

                &.mb-13{
                    margin-bottom: 13px!important;
                }

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    width: 100%!important;
                    height: 47px;
                    border-radius: 30px;
                    margin-bottom: 13px!important;
                }
            }
            .form-control{
                border: none;
                margin-right: 15px;
                color: $clr-black;
                width: 100%;
                font-size: 22px;
                font-family: $bliss-md;

                &::-webkit-input-placeholder{
                    color: $clr-black;
                }

                &::-moz-placeholder{
                    color: $clr-black;
                }

                &:-ms-input-placeholder{
                    color: $clr-black;
                }

                &::-ms-input-placeholder{
                    color: $clr-black;
                }

                &::placeholder{
                    color: $clr-black;
                }

                &.placeholder-purple{
                    &::-webkit-input-placeholder{
                        color: $clr-purple;
                    }
                    &::-moz-placeholder{
                        color: $clr-purple;
                    }
                    &:-ms-input-placeholder{
                        color: $clr-purple;
                    }
                    &::-ms-input-placeholder{
                        color: $clr-purple;
                    }
                    &::placeholder{
                        color: $clr-purple;
                    }
                }

                @include breakpoint-down(mob){
                    font-size: 20px!important;
                }
            }

            .form-label{
                font-size: 22px;

                @include breakpoint-down(mob){
                    font-size: 20px!important;
                }
            }

            .form-elem-grid{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }

            .radio-container{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                .radio-wrap{
                    &:first-child{
                        margin-right: 37px;
                    }
                    &:last-child{
                        margin-right: 8px;
                    }

                    @include breakpoint-down(mob){
                        &:first-child{
                            margin-right: 20px;
                        }
                        &:last-child{
                            margin-right: 8px;
                        }
                    }
                }
            }

            .radio-wrap{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                justify-self: flex-end;

                span{
                    margin-right: 12px;
                    font-size: 22px;

                    @include breakpoint-down(mob){
                        font-size: 20px!important;
                    }
                }
            }

            .form-radio{
                width: 17px;
                height: 17px;
                position: relative;
                margin-left: 12.5px;

                /* ### mobile stylings ### */
                @include breakpoint-down(mob){
                    margin-right: 10px;
                }

                &::after{
                    content: "";
                    position: absolute;
                    top: -8.5px;
                    left: -8.5px;
                    right: 0;
                    bottom: 0;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    z-index: 5;
                    background-color: $clr-white;

                    /* ### mobile stylings ### */
                    @include breakpoint-down(mob){
                        top: -7px;
                        left: -7px;
                        width: 30px!important;
                        height: 30px!important;
                    }
                }
                &:checked::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                    width: 18px;
                    height: 18px;
                    background-color: $clr-purple;
                    border-radius: 50%;
                    z-index: 10;
                }
            }

            .form-elem-purple{
                margin-top: 2px;
                background-color: $clr-purple!important;
                margin-right: 0!important;

                select{
                    background-color: $clr-purple!important;
                    color: $clr-white;
                    width: 100%;
                    height: 100%;
                }

                @include breakpoint-down(mob){
                    margin-top: 25px;
                }
            }

            .form-elem-btn{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                @include breakpoint-down(mob){
                    width: 100%!important;
                }

                .form-btn{
                    cursor: pointer;
                    height: 40px;
                    font-size: 26px;
                    color: $clr-lime;
                    background-color: $clr-white!important;
                    border-radius: 20px;
                    font-family: $bliss-bold;
                    width: 526px;
                    border: 1.5px solid $clr-white!important;

                    @include breakpoint-down(mob){
                        height: 60px;
                        padding-right: 15px;
                        padding-left: 15px;
                        border-radius: 40px;
                        font-size: 20px!important;
                        width: 100%!important;
                    }
                }

                @include breakpoint-down(mob){
                    margin-top: 26px;
                }
            }

            select{
                option{
                    font-size: 20px;
                    background-color: $clr-white;
                    color: #aea29f;
                    font-family: $bliss-reg;
                    border-radius: 20px;

                    &:hover{
                        background-color: #e4e4e4;
                        color: $clr-black;
                    }

                    @include breakpoint-down(mob){
                        font-size: 20px!important;
                    }
                }
            }
        }
    }
}

.ms-book-cnt{
    padding-right: 20px;
    padding-left: 20px;
    position: relative;

    @include breakpoint-down(mob){
        width: 100%!important;
    }
   
}

.ms-book-2{
    display: none;
    select{
        optgroup{
            font-size: 20px!important;
            color: $clr-purple;
        }
    }
    
    .treatment-grid{
        min-height: 237px;
    }

    .treatment-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;

        @include breakpoint-down(mob){
            grid-template-columns: repeat(1, 1fr);
        }

        .treatment-item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            margin-right: 45px;
            margin-bottom: 13px;

            @include breakpoint-down(mob){
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin-bottom: 13px;
                width: 100%!important;
            }

            &:nth-child(even){
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                margin-right: 0;

                @include breakpoint-down(mob){
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
            }

            &-l, &-r{
                background-color: $clr-white;
                height: 35px;
                border-radius: 20px;
                background-color: $clr-white;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                padding-left: 15px;
                position: relative;

                @include breakpoint-down(mob){
                    height: 45px;
                    border-radius: 30px;
                }
            }

            &-l{
                width: 440px;
                margin-right: 8px;

                @include breakpoint-down(mob){
                    width: 100%;
                }
            }

            &-r{
                width: 83px;
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 0px;
                    -o-text-overflow: '';
                       text-overflow: '';
                  }
            }
        }
    }

    .form-btm-text{
        margin-top: 24px;
    }
}

.ms-book-3{
    display: none;
    &-cnt{
        text-align: center!important;
    }
    .submit-top-text{
        color: $clr-purple;
        font-size: 26px;
        text-align: center;
        max-width: 992px;
        margin-right: auto;
        margin-left: auto;
        font-family: $bliss-reg;
        margin-top: 74px;
    }
    .submit-btm-text{
        max-width: 870px;
        margin-right: auto;
        margin-left: auto;
        font-size: 22px;
        font-family: $bliss-reg;
        color: $clr-black;
        text-align: center;
        margin-top: 34px;
        @include lh(28px, 22px);

        span{
            font-size: 24px;
            font-family: $bliss-md;
            margin-bottom: 4px;
        }

        @include breakpoint-down(mob){
            width: auto;
        }
    }
}

// for slide animation on button click
.slide-section{
    display: grid;
    width: 100%!important;
    overflow-x: hidden;
    @include transition-default;

    section{
        width: 100%;
    }

    .ms-types{
        @include transition-default;
    }

    .ms-book{
        display: none;
        @include transition-default;
    }
}

.grid-item { 
    width: auto;
}

// changes stylings
.change-btn{
    background-color: $clr-lime!important;
    border-color: $clr-white!important;
    color: $clr-white;
}
.change-selected{
    background-color: #e4e4e4!important;
    select{
        background-color: #e4e4e4!important;
    }
}

.close-form-btn{
    position: absolute; 
    right: 0;
    top: 10%;
    font-size: 28px;
    color: $clr-white;
    cursor: pointer;

    @include breakpoint-down(mob){
        right: 5%;
        top: 5%;
    }

    @media screen and (max-width: 420px){
        right: 0%;
        top: 0%;
    }
}

.gallery-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .img-item{
        width: 10%;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }

    @include breakpoint-down(xl){
        .img-item{
            width: 12.5%;
        }
    }

    @include breakpoint-down(lg){
        .img-item{
            width: 20%;
        }
    }

    @include breakpoint-down(md){
        .img-item{
            width: 25%;
        }
    }
}

// validation css
.form-elem{
    position: relative;

    .error-msg{
        position: absolute;
        top: -13px;
        left: 0;
        font-size: 13px;
        font-weight: lighter;
    }
}

select{
    border-radius: 20px!important;
}